.learning{
  flex-direction: column;
}

.title{
  display: inline-block;
  align-self: flex-start;
  font-size: 2.5rem;
  margin-bottom: 3%;
}

.containerDivider{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
}

.label{
  margin-right: 1%;
  font-size: 1.2rem;
}

.containerDivider hr{
  flex: 1;
  height: 1px;
  border: none;
  border-top: 1px solid var(--primary-blue);
}

.collapse {
  margin-bottom: 3% !important; /* ou o valor que preferir */
}

.collapseContent{
  font-weight: 500;
  font-size: 1.1em;
  color: var(--primary-gray);
}