.registerButton {
  color: var(--color-background);
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  letter-spacing: .1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s, box-shadow .3s;
}

.registerButton:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.151);
}