.hero {
  padding-top: 0 !important;
}

.registerButton {
  color: var(--color-background);
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  letter-spacing: .1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s, box-shadow .3s;
}

.registerButton:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.151);
}

.left,
.right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.left {
  justify-content: center;
  gap: 3vw;
}

.title {
  font-size: 50px;
  line-height: 1.2em;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.containerButton {
  width: 355px;
}