html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-sky-500);
  border-radius: 6px;
  border: 2px solid var(--background);
}

html::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background-color: var(--color-sky-600);
}

html::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.typewriter:after {
  font-weight: 100;
  content: "|";
  opacity: 1;
  animation: blink 1s infinite;
  background-color: var(--light-blue);
}