html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
  border-radius: 6px;
  border: 2px solid var(--background);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--semidark-blue);
}

.typewriter:after {
  font-weight: 100;
  content: "|";
  opacity: 1;
  animation: blink 1s infinite;
  background-color: var(--light-blue);
}

@keyframes blink {
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}