.public{
  flex-direction: column;
  align-items: center;
}

.containerIntro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}

.title{
  font-size: 2.5rem;
  margin-bottom: 3%;  
}

.subtitle{
  color: var(--dark-gray);
  font-size: 1.3rem;
  font-weight: 500;
}

.grade{
  display: grid;
  width: 100%;
  min-height: 60vh;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5%;
  column-gap: 2%;
}

.item{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 20%;
  border-radius: 10px;
  padding: 7% 0;
}

.containerText{
  flex: 0.7;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  padding: 0 5%;
}

.containerText p{
  color: var(--background);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: 500;
}

.containerImage{
  width: 50%;
  height: 40%;
  position: relative;
}